<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="./assets/img/LOGO.png" type="image/x-icon">

    <!--=============== REMIX ICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="./home.css">

    <title>Pictureka</title>
</head>

<body>
    <!--=============== HEADER ===============-->
    <header id="header" class="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <img src="./assets/img/logo_white.png" alt="Pictuerka Logo">
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li><a href="#home" class="nav__link active-link">Home</a></li>
                    <li><a href="#rules" class="nav__link">Rules</a></li>
                    <li><a href="/settings" class="nav__link">Settings</a></li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </nav>
    </header>

    <main class="main">
        <!--=============== HOME ===============-->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <!----==========overlay=======-->
                <div class="home__image-overlay">
                    <img src="./assets/img/logocards_1.png" alt="Pictuerka Logo" class="home__img">
                    <!----==========flipcards=======-->
                    <div class="card-container homecard">
                        <div class="card">
                            <div class="homefront">
                                <img src="./assets/img/penguin.png" alt="">
                            </div>
                            <div class="homeback">
                                <img src="./assets/img/gamecodecard_1.png" alt="">
                                <div class="room-code-container">
                                    <label for="room-code"></label>
                                    <input type="text" id="room-code" class="room-code-input"
                                        placeholder="Enter room code">
                                </div>
                                <form action="/gamepage" class="submit-container submit">
                                    <label for="submit-code-input"></label>
                                    <input type="submit" id="submit" class="submit-code-input" placeholder="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="home__data">
                    <div class="home__header">
                        <h1 class="home__title">Play Now!</h1>
                        <h2 class="home__subtitle">Pictuerka</h2>
                    </div>


                    <div class="home__footer">
                        <h3 class="home__title-description">Overview</h3>
                        <p class="home__description">
                            Challenge your friends to a battle of wits and art: only with Pictuerka!
                        </p>
                        <a href="#" class="button button--flex">
                            <span class="button--flex">
                                <i class="ri-gamepad-line button__icon"> SignUp</i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!--=============== RULES ===============-->
        <section class="rules section" id="rules">
            <div id="grid" class="grid-card">

                <div class="card-container item1">
                    <div class="card">
                        <div class="front">
                            <img src="./assets/img/card1.png" alt="">
                        </div>
                        <div class="back">
                            <img src="./assets/img/card1_flip.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="card-container item2">
                    <div class="card">
                        <div class="front">
                            <img src="./assets/img/card2.png" alt="">
                        </div>
                        <div class="back">
                            <img src="./assets/img/card2_flip.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="card-container item3">
                    <div class="card">
                        <div class="front">
                            <img src="./assets/img/card3.png" alt="">
                        </div>
                        <div class="back">
                            <img src="./assets/img/card3_flip.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="card-container item4">
                    <div class="card">
                        <div class="front">
                            <img src="./assets/img/card4.png" alt="">
                        </div>
                        <div class="back">
                            <img src="./assets/img/card4_flip.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=============== LOGIN ===============-->
        <section class="login section" id="login">

        </section>

        <!--=============== CONTACT ===============-->
        <section class="contact section" id="contact">

        </section>

    </main>

    <!--=============== FOOTER ===============-->
    <footer class="footer section">
        <div class="footer__cotainer container grid">
            <div content="footer__content">

            </div>
        </div>
    </footer>

    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-s-line scroll__icon"></i>
    </a>


    <!--=============== SCROLL REVEAL ===============-->
    <script src="./assets/scrollreveal.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="./assets/main.js"></script>
</body>

</html>