<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./auth.css">
</head>

<body>
    <div class="container">
        <div class="container-box-left">
            <img src="./assets/images/logo.webp" alt="logo" />
        </div>
        <div class="container-box-right">
            <form action="/login" method="post">
                <h1 class="heading">Login to your account</h1>
                <div class="details-container">
                    <input type="text" id="name" name="username" placeholder="Enter Username" />
                    <input type="password" id="password" name="password" placeholder="Create Password" />
                </div>
                <button class="sign-up" type="submit">Login</button>
                <a href="/signup">Dont have an account?</a>
            </form>
        </div>
    </div>
</body>

</html>